#page{


}
h1{
	text-align: center;
	width: 30%;
	margin-left: 30%;


}
.add-icon{
	text-align: center;
	margin-left: 43%;
	width: 5%;
	margin-top: 2%;
}


#input,#back,#submit{
	display:none;

}
.jsondata, .new{
	margin-left: 37%;
	border:1px solid coral;
	text-align: center;
	width: 15%;
	text-align: center;
}