nav{
  a{
    padding-left: 13em;
    &:hover{
      color: black;
      cursor: pointer;
    }
  }
  background-color: red;
  color: gainsboro;
}

.title{
  text-align: left;
  height: 6em;
  background-color: dodgerblue;
  padding-left: 5em;
  padding-top: 2em;
  a{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    &:hover{
      color: red;
      cursor: pointer;
    }
  }
  padding-right: 10em;
}

#searchArea{
  float: right;
  input{
    width: 30em;
  }
  button:hover{
      cursor: pointer;
  }
}
